polyshare/appengine-generated/
polyshare/target/
polyshare/pom.xml.tag
polyshare/pom.xml.releaseBackup
polyshare/pom.xml.versionsBackup
polyshare/pom.xml.next
polyshare/release.properties
polyshare/dependency-reduced-pom.xml
polyshare/buildNumber.properties
polyshare/.mvn/timing.properties
polyshare/.mvn/wrapper/maven-wrapper.jar
polyshare/**./settings/*
polyshare//.settings/
polyshare/.settings
polyshare/*settings*
polyshare/.classpath
polyshare/.project
/bin/
