<?xml version="1.0" encoding="utf-8"?>

<web-app version="3.0">

	<servlet>
		<servlet-name>ServletYo</servlet-name>
		<servlet-class>com.lama.polyshare.ServletYo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletDataStore</servlet-name>
		<servlet-class>com.lama.polyshare.datastore.ServletDataStore</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>com.lama.polyshare.upload.Upload</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ServletSendMails</servlet-name>
		<servlet-class>com.lama.polyshare.mails.ServletSendMails
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>TaskWorker</servlet-name>
		<servlet-class>com.lama.polyshare.upload.Worker</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ServletLeaderBoard</servlet-name>
		<servlet-class>com.lama.polyshare.scores.ServletLeaderBoard
		</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ServletReset</servlet-name>
		<servlet-class>com.lama.polyshare.commons.ServletReset</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletYo</servlet-name>
		<url-pattern>/yo</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ServletDataStore</servlet-name>
		<url-pattern>/datastore</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ServletReset</servlet-name>
		<url-pattern>/reset</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/Upload</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>TaskWorker</servlet-name>
		<url-pattern>/taskqueues/worker</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ServletSendMails</servlet-name>
		<url-pattern>/sendmail</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ServletLeaderBoard</servlet-name>
		<url-pattern>/leaderboard</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
