<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<servlet>
        <servlet-name>ServletDataStore</servlet-name>
        <servlet-class>com.lama.polyshare.datastore.DataStoreWorker
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletDataStore</servlet-name>
        <url-pattern>/taskqueues/datastoreUpload</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>WorkerDownload</servlet-name>
        <servlet-class>com.lama.polyshare.datastore.DownloadDataStoreWorker
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>WorkerDownload</servlet-name>
        <url-pattern>/worker/download</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>ServletYo</servlet-name>
		<servlet-class>com.lama.polyshare.ServletYo</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletYo</servlet-name>
		<url-pattern>/yo</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>com.lama.polyshare.upload.UploadServlet</servlet-class>
		<multipart-config>
			<max-file-size>10485760</max-file-size>
			<max-request-size>20971520</max-request-size>
			<file-size-threshold>5242880</file-size-threshold>
		</multipart-config>
	</servlet>

	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/Upload</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Download</servlet-name>
		<servlet-class>com.lama.polyshare.download.ServletDownload</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Download</servlet-name>
		<url-pattern>/Download</url-pattern>
	</servlet-mapping>
	
	

<!-- 	<servlet>
		<servlet-name>ServletSendMails</servlet-name>
		<servlet-class>com.lama.polyshare.mails.ServletSendMails</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletSendMails</servlet-name>
		<url-pattern>/sendmail</url-pattern>
	</servlet-mapping>
 -->
	<servlet>
		<servlet-name>TaskWorker</servlet-name>
		<servlet-class>com.lama.polyshare.upload.Worker</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TaskWorker</servlet-name>
		<url-pattern>/taskqueues/worker</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletLeaderBoard</servlet-name>
		<servlet-class>com.lama.polyshare.scores.ServletLeaderBoard</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletLeaderBoard</servlet-name>
		<url-pattern>/leaderboard</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>bouncehandler</servlet-name>
		<servlet-class>com.lama.polyshare.mails.ServletBounceHandler</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>bouncehandler</servlet-name>
		<url-pattern>/_ah/bounce</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DeleteLinksJob</servlet-name>
		<servlet-class>com.lama.polyshare.jobs.DeleteLinksJob</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteLinksJob</servlet-name>
		<url-pattern>/tasks/delete/links</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteFilesJob</servlet-name>
		<servlet-class>com.lama.polyshare.jobs.DeleteFilesJob</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteFilesJob</servlet-name>
		<url-pattern>/tasks/delete/files</url-pattern>
	</servlet-mapping>

	

	<servlet>
		<servlet-name>ServletReset</servlet-name>
		<servlet-class>com.lama.polyshare.commons.ServletReset</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletReset</servlet-name>
		<url-pattern>/reset</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
